.modal-form {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.modal-form__title {
  font-size: 24px;
  font-weight: 600;

  color: rgb(0, 0, 0);
}

.modal-form__subtitle {
  font-size: 12px;
  font-weight: 400;

  color: rgb(0, 0, 0);
}

.modal-form__grid {
  margin-top: 16px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 10px;
}

.modal-form__field-group {
  display: flex;
  flex-direction: column;

  gap: 8px;
  padding-bottom: 8px;

  border-bottom: 1px solid rgb(104, 104, 104);
}

.modal-form__select {
  display: flex;
  justify-content: space-between;
}

.modal-form__list {
  display: flex;
  gap: 10px;
}

.modal-form__badge {
  padding: 5px 16px;

  border-radius: 5px;

  background-color: rgb(134, 174, 170);
  color: rgb(255, 255, 255);

  font-size: 12px;
  font-weight: 700;
}

.modal-form__default-option {
  color: rgb(104, 104, 104);
}

.modal-form__actions {
  display: flex;
  justify-content: space-between;

  gap: 10px;
}

.modal-form__field {
  font-size: 14px;
  font-weight: 400;

  flex: 1;
}